@media screen and (max-width: 744px) {
    .burger-button {
        display: block;
    }

    header nav .action-button,
    header nav ul {
        display: none;
    }

    .main-info-container img {
        height: 309px;
    }

    #middle-section img {
        height: 195px !important;
    }

    .single-recommendation:not(:first-child) {
        display: none;
    }

    .single-recommendation:not(:last-child) {
        margin-right: 0;
    }

    .single-recommendation {
        width: 327px;
        height: 344px;
    }

    footer {
        flex-direction: column;
        padding: 50px 30px;
        align-items: center;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .links {
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 25px;
    }

    .links ul {
        width: 100%;
    }

    .input-container {
        width: 100%;
    }
}

@media screen and (min-width: 375px) and (max-width: 743px) {

        
    .bottom-content {
        width: 247px;
        top: -80%;
    }

    .bottom-content p,
    .bottom-content h2 {
        margin-bottom: 12px;
    }

    .subscription {
        width: 100%;
    }
}

@media screen and (min-width: 375px) and (max-width: 1023px) {
    .main-info-container {
        padding: 0 24px !important;
    }

    .main-info {
        margin: 0 !important;
    }
}

@media screen and (min-width: 744px) and (max-width: 1023px) {
    .main-info-container img {
        height: 499px;
    }

    .features-container {
        margin-top: 0;
    }

    .single-recommendation {
        width: 340px;
        height: 316px;
    }

    .single-recommendation:nth-child(3) {
        display: none;
    }

    .single-recommendation:first-child {
        margin-left: 30px;
    }

    .bottom-content {
        width: 100%;
        top: calc((-100% + (100% - 184px)/2));
    }

    footer {
        padding: 25px 22px;
    }

    footer img {
        margin-bottom: 20px;
    }

    .subscription {   
        position: relative;
        top: -30px;
        width: 240px;
    }

    .input-container {
        width: 218px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .main-info-container img {
        height: 450px;
    }

    .features-container {
        padding: 39px 32px;
    }

    .middle-section-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
    }

    .middle-section-content h2,
    .middle-section-content div {
        width: 415px;
    }

    .single-recommendation {
        width: 335.33px;
        height: 344px;
    }

    footer {
        padding: 45px 32px;
    }

    .links div {
        width: 230px;
    }

    .subscription {
        width: 228px;
    }

}

@media screen and (max-width: 1023px) {
    .main-info div {
        flex-direction: column;
    }
    .main-info div .action-button {
        margin-bottom: 16px;
    }

    .main-info-container h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .features-container {
        flex-direction: column;
        padding: 20px 24px;
    }

    .feature-box {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .feature-box:not(:last-child) {
        margin-bottom: 40px;
        margin-right: 0;
    }

    #recommendations {
        margin: 30px 0;
    }

    #bottom-section {
        height: 500px;
    }
}

@media screen and (max-width: 1439px) {
    .main-info-container {
        display: flex;
        flex-direction: column;
        padding: 0 32px;
        text-align: center;
    }

    .main-info-container img {
        width: 100%;
        margin-top: 68px;
    }

    .main-info {
        margin: 0 165px;
        max-width: unset;
    }

    .main-info div {
        justify-content: center;
    }

    .recommendation {
        margin-bottom: 24px !important;
    }

    #middle-section  {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .middle-section-content {
        width: 100%;
    }

    #middle-section {
        padding: 24px;
    }

    #middle-section img {
        width: 100%;
        height: 550px;
        margin-bottom: 29px;
    }

    footer {
        flex-direction: column;
    }
}