@media screen and (max-width: 375px) {
    .single-recommendation {
        width: 327px;
        height: 344px;
    }
    
    .single-recommendation:not(:first-child) {
        display: none;
    }

    .main-info-container {
        display: flex;
        flex-direction: column;
        padding: 0 32px;
        text-align: center;
    }

    .bottom-content {
        height: 144px;
        width: 247px;
        top: calc((-100% + (100% - 232px)/2));
    }

    footer {
        flex-direction: column;
        padding: 50px 30px;
        align-items: center;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .links {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .links ul {
        width: 100%;
    }

    .subscription {
        width: 100%;
        align-items: center;
    }

    .input-container {
        width: 100%;
    }
}

@media screen and (min-width: 376px) and (max-width: 774px) {
    .burger-button {
        display: block;
    }

    header nav .action-button,
    header nav ul {
        display: none;
    }

    .features-container {
        flex-direction: column;
        padding: 20px 24px;
    }

    .feature-box {
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .feature-box:not(:last-child) {
        margin-bottom: 40px;
    }

    .main-info div {
        flex-direction: column;
    }

    #middle-section {
        padding: 24px;
    }

    .middle-section-content,
    #middle-section  {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #middle-section img {
        width: 100%;
        height: 550px;
        margin-bottom: 29px;
    }

    .single-recommendation {
        width: 340px;
        height: 316px;
    }

    .single-recommendation:nth-child(3) {
        display: none;
    }

    .single-recommendation:first-child {
        margin-left: 30px;
    }

    #bottom-section {
        height: 500px;
    }

    .bottom-content {
        width: 100%;
        top: calc((-100% + (100% - 184px)/2));
    }

    footer {
        padding: 25px 22px;
    }

    .input-container {
        width: 218px;
    }
}

@media screen and (min-width: 775px) and (max-width: 1024px) {
    .main-info-container {
        display: flex;
        flex-direction: column;
        padding: 0 32px;
        text-align: center;
    }

    .main-info-container img {
        width: 100%;
        height: 450px;
        margin-top: 68px;
    }

    .main-info {
        margin: 0 165px;
    }

    .main-info div {
        justify-content: center;
    }

    #middle-section {
        flex-direction: column;
        padding: 32px;
    }

    .middle-section-content {
        flex-direction: row;
        width: 100%;
    }

    #middle-section img {
        margin-bottom: 64px;
        height: 550px;
        width: 100%;
        object-fit: cover;
    }

    .single-recommendation {
        width: 335.33px;
        height: 344px;
    }

    footer {
        flex-direction: column;
        padding: 45px 32px;
    }

    .subscription {
        width: 240px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .main-info-container {
        padding: 0;
    }
    
    .single-recommendation {
        width: 360px;
        height: 316px;
    }

    footer {
        padding: 96px 120px;
        justify-content: space-between;
    }

    .subscription {
        width: 228px;
    }
}